body {
  color: white;
  font-size: 2em;
  background: #191819;
  text-align: center;
  zoom: 1.5;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 18px;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  width: full;
}

button {
  width: full;
}

fieldset {
  width: 500px;
  margin: 0;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px 8px 0;
}

legend {
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

fieldset > div {
  margin-bottom: 8px;
  text-align: right;
  vertical-align: middle;
}

label {
  text-align: left;
  float: left;
}

label::after {
  content: ": ";
  white-space: pre;
}

div.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px 10px;
}

div.buttons > button {
  /* button style here */
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1;
}

#popup {
  position: fixed;
  width: calc(60vmin + (6px * 2));
  height: calc((60vmin + (6px * 3)) + 1em);
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid;
  border-radius: 6px;
  z-index: 2;
}

#popup > p {
  text-align: center;
  margin: 6px;
  width: calc(100% - 12px);
}

#qrcode {
  margin: 6px 6px 0;
}

#qrcode > img {
  width: 100%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 250ms ease-in,
    visibility 0ms ease-in 250ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 250ms ease-in,
    visibility 0ms ease-in 0ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#linkButton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
